.avl-map {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  position: absolute;
	overflow: hidden;
  box-sizing: content-box;
	/*background-color: rgba(203, 175, 66, 0.5);/*rgba(138, 154, 91, 0.5);*/
}

.avl-layer {
	position: absolute;
}

.avl-tile {
	position: absolute;
	width: 256px;
	height: 256px;
}
.avl-tile path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: square;
}

.avl-control {
	 background-color: rgba(96, 78, 108, 0.5);
  	padding: 5px;
  	position: absolute;
  	text-align: center;
  	color: #614e6c;
  	font-family: "sans serif";
  	font-size: 12pt;
  	z-index: 20;
    box-sizing: content-box;
}

.info-text {
  	height: 20px;
  	line-height: 20px;
  	background-color: #cbaf42;
  	padding: 3px 10px 1px 10px;
    box-sizing: content-box;
}
.avl-button {
  	height: 20px;
  	width: 20px;
  	/*margin: 2px;*/
    margin: 0px;
  	padding: 2px;
  	line-height: 20px;
  	font-family: "sans serif";
    background-color: #cbaf42;
    box-sizing: content-box;
}
.avl-button:hover {
  	border: solid 2px #614e6c;
  	padding: 0px;
}
.avl-bold {
  	font-weight: bold;
  	font-size: 18pt;
}
.avl-list {
  	height: 20px;
  	/*margin: 2px;*/
    margin: 0px;
  	padding: 3px 10px 1px 10px;
  	line-height: 20px;
  	font-family: "sans serif";
  	background-color: #cbaf42;
    box-sizing: content-box;
}
.avl-list:hover {
  	border: solid 2px #614e6c;
  	height: 19px;
  	padding: 1px 8px 0px 8px;
}
.avl-inactive {
  background-color: #ab8f22;
}

.avl-map-marker {
    height: 40px;
    width: 20px;
    position: absolute;
    z-index: 10;
}

.avl-top-left {
  	top: 10px;
  	left: 10px;
}
.avl-top-right {
  	top: 10px;
  	right: 10px;
}
.avl-bottom-left {
  	bottom: 10px;
  	left: 10px;
}
.avl-bottom-right {
  	bottom: 10px;
  	right: 10px;
}

.avl-map-zoom-brush {
    position: absolute;
    z-index: 10;
}
.avl-map-zoom-brush .extent {
  stroke: #614e6c;
  fill:rgba(96, 78, 108, 0.5);
  shape-rendering: crispEdges;
}