/***************************/
/* Geo Styles              */   
/***************************/
.zone{
  stroke:#e5603b;
  stroke-width:0px;
  fill:#fff;
  opacity: 0.4;
}





/***************************/
/*          Panels         */
/***************************/
.panel-heading {
  padding: 0;
}
.panel-heading > .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.panel {
  border: none;
  background-color: whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.leaflet-interactive{
  cursor: pointer;
}

.panel:nth-child(1n) .panel-heading {
  border-left: 5px solid #e5603b;
}
.panel:nth-child(2n) .panel-heading {
  border-left: 5px solid #eac85e;
}
.panel:nth-child(3n) .panel-heading {
  border-left: 5px solid #8cbf26;
}
.panel:nth-child(4n) .panel-heading {
  border-left: 5px solid #56bc76;
}
.panel:nth-child(5n) .panel-heading {
  border-left: 5px solid #4ab0ce;
}
.panel:nth-child(6n) .panel-heading {
  border-left: 5px solid #618fb0;
}
.panel:nth-child(7n) .panel-heading {
  border-left: 5px solid #a05000;
}
.panel:nth-child(8n) .panel-heading {
  border-left: 5px solid #d04f4f;
}
.panel .panel-heading a {
  color: #666666;
  font-weight: normal;
  color: #666666;
}

.panel-body {
  border-top-color: whitesmoke;
}

/*************************************
Util Styles
**************************************/

.no-padding {
  padding:0;
}
/************************************
Overwrite Styles
**************************************/
.content{
  padding: 0 2.5641%
}
.listCheck{
  float: left;
  width: 40px;
  padding-left:10px;
  color:#8cbf26;
}

.centered:{
  width:100%;
  text-align: center;
};
.active_geo{
  fill:none;
}
body.background-dark{
  
  font-weight: normal;
  padding-bottom: 100px;
  background-color: rgba(74, 121, 147, 0.89);
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");

}



/********************************************************************
Unified Station ID highlight Styles
*********************************************************************/


.nv-line-data{
  opacity: 0.1;
}

.nv-line-data.highlighted-station{
  opacity: 1;
}

.station{
  cursor: pointer; 
}

.station.highlighted-station{
  stroke:#000;
  stroke-width:7px;
}
.nv-bar.highlighted-station rect{
  fill:yellow;
  strok-width:5px;
  fill-opacity: 1;
  stroke-opacity:1;
}

#map{box-shadow: 5px 5px 5px #aaa;}

@media (min-width: 768px) {
  .mapaffix{
    position: fixed;
    top: 60px;
    width: 40%;
    
  }
}