/***************************/
/* Geo Styles              */   
/***************************/
.zone{
  stroke:#e5603b;
  stroke-width:0px;
  fill:#fff;
  opacity: 0.4;
}





/***************************/
/*          Panels         */
/***************************/
.panel-heading {
  padding: 0;
}
.panel-heading > .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.panel {
  border: none;
  background-color: whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.leaflet-interactive{
  cursor: pointer;
}

.panel:nth-child(1n) .panel-heading {
  border-left: 5px solid #e5603b;
}
.panel:nth-child(2n) .panel-heading {
  border-left: 5px solid #eac85e;
}
.panel:nth-child(3n) .panel-heading {
  border-left: 5px solid #8cbf26;
}
.panel:nth-child(4n) .panel-heading {
  border-left: 5px solid #56bc76;
}
.panel:nth-child(5n) .panel-heading {
  border-left: 5px solid #4ab0ce;
}
.panel:nth-child(6n) .panel-heading {
  border-left: 5px solid #618fb0;
}
.panel:nth-child(7n) .panel-heading {
  border-left: 5px solid #a05000;
}
.panel:nth-child(8n) .panel-heading {
  border-left: 5px solid #d04f4f;
}
.panel .panel-heading a {
  color: #666666;
  font-weight: normal;
  color: #666666;
}

.panel-body {
  border-top-color: whitesmoke;
}

/*************************************
Util Styles
**************************************/

.no-padding {
  padding:0;
}
/************************************
Overwrite Styles
**************************************/
.content{
  padding: 0 2.5641%
}
.listCheck{
  float: left;
  width: 40px;
  padding-left:10px;
  color:#8cbf26;
}

.centered:{
  width:100%;
  text-align: center;
};
.active_geo{
  fill:none;
}
body.background-dark{
  
  font-weight: normal;
  padding-bottom: 100px;
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(255,255,255, 0.89), rgba(226, 226, 226, 0.87), rgba(200,200,200, 0.87)), url("/images/bgnoise_lg_dark.png");

}



/********************************************************************
Unified Station ID highlight Styles
*********************************************************************/


.nv-line-data{
  opacity: 0.6;
}

.nv-line-data.highlighted-station{
  opacity: 1;
}

.station{
  cursor: pointer; 
}

.station.highlighted-station{
  stroke:#000;
  stroke-width:7px;
}
.nv-bar.highlighted-station rect{
  fill:yellow;
  stroke-width:5px;
  fill-opacity: 1;
  stroke-opacity:1;
}
.nvd3 text{
  fill:#000;
}

#map{box-shadow: 5px 5px 5px #aaa;}

@media (min-width: 768px) {
  .mapaffix{
    position: fixed;
    top: 60px;
    width: 47%;
    
  }
}

/********************************
datatable
********************************/
.backgrid-paginator > ul {
  font-weight: 400;
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 3px;
}
/* line 520, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > li {
  display: inline;
}
/* line 522, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > li > a,
.backgrid-paginator > ul > li > span {
  position: relative;
  float: left;
  line-height: 1.428571429;
  text-decoration: none;
  color: #666666;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 2px;
}
/* line 534, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > li > a > .fa-lg,
.backgrid-paginator > ul > li > span > .fa-lg {
  position: relative;
  top: -1px;
}
/* line 540, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > li:first-child > a,
.backgrid-paginator > ul > li:first-child > span {
  margin-left: 0;
}
/* line 549, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > li > a:hover, .backgrid-paginator > ul > li > a:focus,
.backgrid-paginator > ul > li > span:hover,
.backgrid-paginator > ul > li > span:focus {
  color: #666666;
  background-color: #eeeeee;
  border-color: transparent;
}
/* line 559, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > .active > a, .backgrid-paginator > ul > .active > a:hover, .backgrid-paginator > ul > .active > a:focus,
.backgrid-paginator > ul > .active > span,
.backgrid-paginator > ul > .active > span:hover,
.backgrid-paginator > ul > .active > span:focus {
  z-index: 2;
  color: #666666;
  background-color: #eeeeee;
  border-color: transparent;
  cursor: default;
}
/* line 571, ../../src/sass/_override-custom-libs.scss */
.backgrid-paginator > ul > .disabled > span,
.backgrid-paginator > ul > .disabled > span:hover,
.backgrid-paginator > ul > .disabled > span:focus,
.backgrid-paginator > ul > .disabled > a,
.backgrid-paginator > ul > .disabled > a:hover,
.backgrid-paginator > ul > .disabled > a:focus {
  color: gray;
  background-color: transparent;
  border-color: transparent;
  cursor: not-allowed;
}
/* line 5, ../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/_pagination.scss */
.backgrid-paginator > ul > li > a,
.backgrid-paginator > ul > li > span {
  padding: 4px 10px;
  font-size: 12px;
}
/* line 11, ../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/_pagination.scss */
.backgrid-paginator > ul > li:first-child > a,
.backgrid-paginator > ul > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 17, ../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/_pagination.scss */
.backgrid-paginator > ul > li:last-child > a,
.backgrid-paginator > ul > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/********************************
toolTip
********************************/
#nytg-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#nytg-tooltip {
 text-align:center;  
  z-index: 1000;
  position: absolute;
  display: none;
}

#nytg-tooltip .nytg-tail {
  position: absolute;
  bottom: -8px;
  left: 105px;
  width: 40px;
  height: 8px;
  background: url(http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/tail_white.png) 50% 0%;
}


#nytg-tooltip .nytg-department {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color:#666;
  text-align:center;  

}
#nytg-tooltip .nytg-rule{
  height:1px;
  margin:1px auto 3px;
  background:#ddd;
  width:130px;
}

#nytg-tooltip .nytg-discretion{
  color:#666;
/*   text-transform:uppercase;*/
  font-size: 11px;   
  text-align:center;  
  font-style:italic;
}
#nytg-tooltip .nytg-name {
  text-align: left;
  font-size: 13px;
/*  width:170px;*/
 text-align:center;  
}
#nytg-tooltip .nytg-value {
/*  position:absolute;*/
 text-align:center;
  right:10px;
  top:28px;
  font-size: 16px;
/*  width:100px;*/
 text-align:center;  
  overflow:hidden;
  font-weight:bold;
}
#nytg-tooltip .nytg-change {
  padding-left:10px;
/*  width:110px;  */
  font-size: 16px;  
  text-align:right;  
  overflow:hidden;
/*  position:absolute;*/
  font-weight:bold;  
  color:#666;
 text-align:center;  
display:inline;
}
#nytg-tooltip .nytg-valuesContainer {
  padding-top:7px;
  
}
#nytg-tooltip.nytg-minus .nytg-change{
  color:#900;
}
#nytg-tooltip.nytg-plus .nytg-change{
  color:#090;
}

.selected_station{
  stroke:#000;
  stroke-width:5px;
}

/* wimgraph */

#wimgraph {
  height: auto;
  overflow: hidden;
}
#selectorDIV {
  height: 50px;
  margin: 20px;
}
.selector {
  background-color: #000;
  position: relative;
  width: auto;
  float: left;
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.selector a {
  line-height:40px;
  display: block;
  float: left;
  width: 200px;
  height: 40px;
  margin: 5px 0 5px 5px;
  background-color: #0f0;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}
.selector a:hover {
  opacity: 1.0;
}
.selector a.active {
  background-color: #1a9850;
}
.selector a.inactive {
  background-color: #d73027;
}
.selector a.deactivated {
  background-color: #666;
}
.selector a.deactivated:hover {
  opacity: 0.75;
}
.legend{
  color:#fff;
  display:flex;
}

#graphDIV {
  height: 300px;
  background-color:none;
  margin: 20px;
  position: relative;
}
.tick text {
  fill: #000;
}
.navBar {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 5px;
  position: absolute;
  background-color: #000;
}
.navBar a {
  line-height:40px;
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  margin: 5px 5px 0 5px;
  text-decoration: none;
  background-color: #f46d43;
  opacity: 0.75;
  color: #000;
}
.navBar a:hover {
  opacity: 1.0;
}
.navBar a.active {
  background-color: #1a9850;
}
.navBar a.inactive {
  background-color: #d73027;
}
.navBar a.deactivated {
  background-color: #666;
}
.navBar a.deactivated:hover {
  opacity: 0.75;
}
#legendDIV {
  margin: 20px;
  position: relative;
  height: 100px;
}
.legend {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  height: 50px;
  margin: auto;
  padding: 5px;
  position: absolute;
  right: 0;
  left: 0;
  display:flex;
}
.legend a {
  line-height:40px;
  display: block;
  height: 40px;
  text-decoration: none;
  opacity: 0.75;
  color: #000;
  padding-left: 3px;
  text-align: center;
  font-size: 12px;
  flex:1;
}
.legend a.class-label {
  
}
.legend a.weight-label {
  width: 100px;
}
.legend a:hover {
  opacity: 1.0;
}
.legend a.inactive {
  background-color: #d73027;
}
#loader {
  height: 200px;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 1.0);
  position: absolute;
  line-height: 50px;
  padding: 50px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  display: none;
}
.graph-popup {
  width: 250px;
  height: 60px;
  font-size: 12pt;
  display: none;
  line-height: 20px;
  padding: 5px 10px 5px 10px;
  text-align: left;
  position: fixed;
  background-color: #6baed6;
  color: #000;
  border: solid 5px #081d58;
}

/* end wimgraph */



.heatcell:hover{
  border:2px inset #000;
}



.domain{
  fill:none;
  stroke-width:1px;
  stroke:#000;
}

.range{
  fill:none;
  stroke-width:1px;
  stroke:#000;
}

/*---------------------
nytimes tool tip 
-----------------------*/

#nytg-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#nytg-tooltip {
 text-align:center;  
  z-index: 1000;
  position: fixed;
  display: none;
}

#nytg-tooltip .nytg-tail {
  position: absolute;
  bottom: -8px;
  left: 105px;
  width: 40px;
  height: 8px;
  background: url(http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/tail_white.png) 50% 0%;
}


#nytg-tooltip .nytg-department {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color:#666;
  text-align:center;  

}
#nytg-tooltip .nytg-rule{
  height:1px;
  margin:1px auto 3px;
  background:#ddd;
  width:130px;
}

#nytg-tooltip .nytg-discretion{
  color:#666;
/*   text-transform:uppercase;*/
  font-size: 11px;   
  text-align:center;  
  font-style:italic;
}
#nytg-tooltip .nytg-name {
  text-align: left;
  font-size: 13px;
/*  width:170px;*/
 text-align:center;  
}
#nytg-tooltip .nytg-value {
/*  position:absolute;*/
 text-align:center;
  right:10px;
  top:28px;
  font-size: 16px;
/*  width:100px;*/
 text-align:center;  
  overflow:hidden;
  font-weight:bold;
}
#nytg-tooltip .nytg-change {
  padding-left:10px;
/*  width:110px;  */
  font-size: 16px;  
  text-align:right;  
  overflow:hidden;
/*  position:absolute;*/
  font-weight:bold;  
  color:#666;
 text-align:center;  
 display:inline;
}
#nytg-tooltip .nytg-valuesContainer {
  padding-top:7px;
  
}
#nytg-tooltip.nytg-minus .nytg-change{
  color:#900;
}
#nytg-tooltip.nytg-plus .nytg-change{
  color:#090;
}

/*---------------------
end nytimes tool tip 
-----------------------*/
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-value {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-value {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  box-shadow: none;
  height: auto;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow-zone {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  cursor: pointer;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
  cursor: pointer;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #0088cc;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #0088cc;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
.Select.is-multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888888;
}
.Select.is-multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9;
}
.Select.is-multi.is-disabled .Select-item-icon:hover,
.Select.is-multi.is-disabled .Select-item-icon:focus,
.Select.is-multi.is-disabled .Select-item-icon:active {
  background-color: #f2f2f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
